// Cambiar colores principales
$primary: #21a181; 
$danger: #851717;  // rojo

$info: #209cee;
$success: #1b7686;
$warning: #ffc457;
// Luego importa Bulma y Buefy
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";
